{% extends 'base.html' %}
{% load static %}  
        {% block content %}
      <div class="page-content">
        <div class="container">
<div class="container pp-section">
  <div class="row">
    <div class="col-md-9 col-sm-12 px-0">
      <h1 class="h3"> Welcome to Trev's Gallery</h1>
    </div>
  </div>
</div>
<div class="container px-0 py-4">
  <div class="pp-category-filter">
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-outline-success pp-filter-button" href="{% url 'imagestore'  %}" data-filter="all">All</a>
      {% for category in links %}
      <a class="btn btn-outline-success pp-filter-button" href="{{ category.get_url }}" data-filter="all">{{ category.category_name }}</a>
      {% endfor %}
     
        <div class="input-group">
          <div class="form-outline">
        <input type="search" id="form1" class="form-control" placeholder="search"/>
      </div>
      <a class="btn btn-outline-success pp-filter-button" href="#" data-filter="all">Search</a>
          </div>
      </div>

    </div>

    
  </div>
  
</div>


<div class="container px-0">
    <div class="pp-gallery">
    <div class="card-columns">
      {% for imagestore in image_store %}
      <div class="card" data-groups="[&quot;nature&quot;]">
        <a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{{ imagestore.images.url }}" alt="Nature"/>
            <figcaption>
              <div class="h4">{{ imagestore.image_name }}</div>
              <p>{{ imagestore.category }}</p>
            </figcaption>
          </figure></a></div>
          {% endfor %}
    </div>
  </div>
</div>
<div class="pp-section"></div></div>
      </div>
    </div>









    <script src="{% static 'scripts/jquery.min.js?ver=1.2.0' %}"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js?ver=1.2.0' %}"></script>
    <script src="{% static 'scripts/main.js?ver=1.2.0' %}"></script>
  </body>
</html>


{% endblock %}
