{% load static %}  
<body id="top">
    <div class="page">
      <header>
        <div class="pp-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
              <a href="{% url 'home' %}"><img src="{% static 'images/favicon1.png' %}" alt="Logo"></a><a class="navbar-brand" href="index.html">Trev Gallery</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Myimages</a>
                  </li>

                  <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a>
                    
                  </li>




                


                  <select name="cars" id="cars">
                    <option value="volvo">Location</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                 <div>

                 </div>
<br>
                  <select name="cars" id="cars">
                    <option value="volvo">Category</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                 
                  
               
                </ul>
              </div>
            </div>
            
          </nav>
        </div>
      </header>


     