{% extends 'base.html' %}
{% load static %}  


        {% block content %}
        <div class="page-content">
            <div class="container">
    <div class="pp-about container px-0 pp-section">
      <div class="row mb-2">
        <div class="col-md-9">
          <h1 class="h4">Light is beautiful and if you expose for it, it will look awesome</h1>
          <p class="text-muted">Photography is the science, art, application and practice of creating durable images by recording light or other electromagnetic radiation, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film.</p>
        </div>
      </div><img class="img-fluid pp-about-img" src="https://images.unsplash.com/photo-1537432376769-00f5c2f4c8d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80" alt="About Image"/>
     
  <div class="views">
 
   </div>
     
    
    </div>
          </div>
        </div>
     

        {% endblock %}
