{% extends 'base.html' %}
{% load static %}  
        {% block content %}
      <div class="page-content">
        <div class="container">
<div class="container pp-section">
  <div class="row">
    <div class="col-md-9 col-sm-12 px-0">
      <h1 class="h3"> Welcome to Trev's Gallery</h1>
    </div>
  </div>
</div>
<div class="container px-0 py-4">
  <div class="pp-category-filter">
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-outline-success pp-filter-button" href="#" data-filter="all">All</a>
        <a class="btn btn-outline-success pp-filter-button" href="#" data-filter="people">People</a>
        <a class="btn btn-outline-success pp-filter-button" href="#" data-filter="nature">Nature</a>
        <a class="btn btn-outline-success pp-filter-button" href="#" data-filter="computer">Computer</a>
        <a class="btn btn-outline-success pp-filter-button" href="#" data-filter="food">Food</a>
      </div>
    </div>
  </div>
</div>
<div class="container px-0">
    <div class="pp-gallery">
    <div class="card-columns">
      {% for imagestore in image_store %}
      <div class="card" data-groups="[&quot;nature&quot;]">
        <a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{{ imagestore.images.url }}" alt="Nature"/>
            <figcaption>
              <div class="h4">{{ imagestore.image_name }}</div>
              <p>{{ imagestore.image_name }}</p>
            </figcaption>
          </figure></a></div>
          {% endfor %}
    </div>
  </div>
</div>
<div class="pp-section"></div></div>
      </div>
    </div>









    <script src="{% static 'scripts/jquery.min.js?ver=1.2.0' %}"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js?ver=1.2.0' %}"></script>
    <script src="{% static 'scripts/main.js?ver=1.2.0' %}"></script>
  </body>
</html>


{% endblock %}
